@charset "utf-8";

body, html {
	background: #000;
	width: 99%;
	height: 97%; // Fix for scrollbars in chrome
	margin 0;
	//font-family: 'Lato', sans-serif;
	font-family: 'Futura', sans-serif;
	cursor: default;
}

.container {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	text-align: center;

}
.title {
	color: #999;
	font-size: 75px;
	width: auto;
}

.dlInfo {
	overflow: hidden;
	text-align: center;
	width: auto;
}


.downloads {
	color: #BADA55;
	font-size: 60px;
	width: auto;
}

/*.updateDate, .updateTimer {
	color: #BADA55;
}*/

.changes {
	color: #7DF9FF;
	font-size: 20px;
	vertical-align: top;
	cursor: help;
	display: none;
}

.updateTime {
	color: #444;
}

.downloadSource, .downloadDay {
	font-size: 20px;
	color: #888;
	margin-bottom: 5px;
}

.pipe {
	margin-left: 5px;
	margin-right: 5px;
	color: #888;
	font-size: 20px;
}

.footer_pipe {
	margin-left: 10px;
	margin-right: 10px;
	color: #888;
	font-size: 20px;
}

.footer {
	color: #888;
}

.footer a {
	color: #BADA55;
}

.downloadCount {
	color: #BADA55;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

.apiData, .disclaimer, .disclaimerText {
	color: #999;
}

.apiLink {
	cursor: pointer;
}

textarea.jsonData {
	width: 898px;
	height: 79px;
	margin-top: 10px;
	display: none;
	resize: none;
}

